/.idea
/.env
!/app
/app/*
!app/readme.md
/c++
/java
/learn
/notes
/ssh
!/web
/web/*
!web/readme.md

!/ssh
/ssh/*
!ssh/readme.md

!/java
/java/*
!java/readme.md

!/config
/config/*
!config/git
!config/nginx
!config/nginx/config
!config/nginx/config/demo.com.conf

hosts
/.DS_Store
/services/mysql/data/*
