/.idea
/.env
!/app
/app/*
!app/readme.md
/c++
/java
/learn
/notes
/ssh
!/web
/web/*
!web/readme.md

!/ssh
/ssh/*
!ssh/readme.md

!/java
/java/*
!java/readme.md

/config/nginx/config

hosts
/.DS_Store
/services/mysql/data/*
